<div class="row mp-margin">
	<div class="col-lg-12 text-center">
		<div class="col-lg-12 mp-margin">
			<h1><b><%= @movie.title %></b></h1>
			<% @movie.genre.split(" ").each do |genre|%>
				<span class="label label-default"><%= genre %></span>
			<% end %>
		</div>
		<div class="col-lg-12">
			<% if @movie.poster %>
				<img src="https://image.tmdb.org/t/p/w185<%= @movie.poster %>">
			<% else %>
	        	<img src="https://goo.gl/p8zDGq">
	        <% end %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12 col-md-6 padding-30">
					<p class="text-justify"><%= @movie.plot %></p>
					<p><b>Duration:</b> <%= @movie.runtime %> minutes</p>
					<p><b>Released Date:</b> <%= @movie.release_date %></p>
					<p><b>Popularity:</b> <%= @movie.popularity %></p>
					<p><b>Budget:</b> $<%= @movie.budget %></p>
					<p><b>Average Vote:</b> <%= @movie.average_vote %>/10</p>
					<p><b>Total Votes:</b> <%= @movie.vote_count %></p>
					<p><b>Website:</b> <a href="<%= @movie.homepage %>"><%= @movie.homepage %></a></p>
				</div>
				<div class="col-xs-12 col-md-6">
					<h2>Reviews</h2>
					<% if @movie.reviews.exists? %>
						<table class="table">
							<thead>
								<tr>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</thead>
							<tbody>		
								<% @movie.reviews.each do |review| %>
										<tr>
											<td id="upvotes_field<%= review.id %>">
												<%= render partial: 'upvotes/upvote_fields', locals: {review: review, current_user: current_user} %>
											</td>
											<td><%= link_to review.user_username, user_path(review.user_id) %></td>
											<td><%= review.comment %></td>
										</tr>
									
								<% end %>
							</tbody>
						</table>
					<% else %>
						<hr>
						<h4>No one has reviewed this movie yet!</h4>
					<% end %>
					<hr>
					<% if user_signed_in? %>
						<% if current_user.reviewed?(@movie) %>
						<!--  OR -->
						<!-- if @movie.reviews.exists?(:user_id => current_user.id) -->
						<% else %>
						<form id="rating-form" action="/reviews" method="POST">
							<input type="hidden" name="authenticity_token" value="token_value" />
							<input type="hidden" name="tmdb_id" value="<%= @movie.tmdb_id %>" />
							<textarea name= "review[comment]" class="form-control" placeholder="Your movie review"></textarea>
							<br />
							<input type="submit" class="btn btn-success pull-right" />
						</form>
						<% end %>
					<% else %>
					<div class="alert alert-danger alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
						Please <%= link_to 'Log In', new_user_session_path, class: 'alert-link' %> or <%= link_to 'Sign Up', new_user_registration_path, class: 'alert-link' %> to write your review!.
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>