<%= image_tag @user.avatar, class: 'prof-pic-lg' %><h1 class="text-center">

<%= @user.username %></h1>

<p class="text-center lead"><%= @user.introduction %></p>

<ul class="user-stats">
  <li>
    <div class="number-label">Reviews</div>
    <div class="number-value"><%= @user.reviews.count %></div>
  </li>
</ul>
<div id="reviewed-movies" class="grid">
</div>

<script type="text/javascript">
  $(function(){
    var $container = $('.grid');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.grid-item',
        columnWidth: 200
      });
    });

  	$.ajax({
        url: '/users/<%= @user.id %>.json'
      })
      .done(function(data){
      	let htmlString = "";

  	    data["reviews"].forEach(function(review){
  	      htmlString += `<div class="grid-item">
            							<img src="https://image.tmdb.org/t/p/w185${review["movie"]["poster"]}">  	      						
      	      					</div>`;
  	    });
  	    $("#reviewed-movies").append(htmlString);
      });
    });
</script>
