<div class="row">
  <div class="col-xs-12 col-md-4 mp-margin">
    <h1 class="text-align-left">Find Movies</h1>

    <div class="row">
      <form id="movie-search">
        <div class="col-xs-8">
          <input type="text" name="query" class="form-control" placeholder="Enter Movie Name">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
      </form>
    </div>
    <hr>
    <h3>Latest Reviews</h3>
    <hr>
    <% @reviews.each do |review| %>
      <%= review.comment %> <br><br>
      <%= review.user_username %> | <%= link_to review.movie_title, movie_path(review.movie_id) %>
      <hr>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-8">
    <div id="movies">
        <div class="grid">
        <% @movies.each do |movie| %>
        <div class="grid-item">
            
          <%= link_to movie_path(movie.id) do %>
            <% if movie.poster %>
              <img src="https://image.tmdb.org/t/p/w185<%= movie.poster %>" class="mp-margin" class="img-responsive" alt="<%= movie.title %>" title="<%= movie.title %>">
            <% else %>
              <img src="https://goo.gl/p8zDGq" class="mp-margin" class="img-responsive" alt="<%= movie.title %>" title="<%= movie.title %>">
            <% end %>
          
                <!-- <p><%= movie.title %></p> -->
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
